
<div id="header">
    <div id="navigation">
        <!--<span id="mobile-navigation">&nbsp;</span>-->
        <!--<a href="index.html" class="logo"><img class="header_logo" src="images/tweety_records_logo1.jpg" alt=""></a>-->
        <ul id="menu">
            <li class="selected"><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>